doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title user starred repo issues
  body
    .container
      form(action="/", method="post")
        input(type="text", name="username" placeholder="Enter github user name")
        input(type="submit", value="make request")

      if data
        if issues
          -for(var i = 0; i < data.length; i++)
            h1= data[i].name
            p= data[i].description
            each issue in issues[i]
              li= issue
      if error
        p= error